@import '../assets/styles/index.scss';
::ng-deep {
    .mat-form-field.mat-focused .mat-form-field-label {
        color: $primary;
    }
    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: $primary;
    }
    .mat-progress-spinner {
        width: 1.875rem !important;
        height: 1.875rem !important;
    }
    .mat-progress-spinner svg {
        width: 1.875rem !important;
        height: 1.875rem !important;
    }
}