<div class="login-container">
    <div class="item">
        <img src="assets/images/png/login_icon.png" alt="login_icon">
    </div>
    <div class="item">
        <form autocomplete="off" class="item-form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="!isRegister">
            <mat-form-field appearance="legacy" class="item-form-field">
                <mat-label>Correo</mat-label>
                <input matInput class="form-control" id="emaillogin" aria-describedby="emailHelp" name="email" formControlName="email">
                <mat-error *ngIf="emailInvalid">
                    Correo es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="item-form-field">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" class="form-control" id="password" name="password" formControlName="password">
                <mat-error *ngIf="passwordInvalid">
                    Contraseña es requerida
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button *ngIf="!loading">Ingresar</button>
            <mat-spinner *ngIf="loading"></mat-spinner>
            <div class="register" (click)="register()">
                Registrarse
            </div>
        </form>
        <form autocomplete="off" class="item-form" [formGroup]="formRegister" (ngSubmit)="submitRegister()" *ngIf="isRegister">
            <mat-form-field appearance="legacy" class="item-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput class="form-control" id="namelogin" aria-describedby="nameHelp" name="namelogin" formControlName="name">
                <mat-error *ngIf="nameRInvalid">
                    Nombre es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="item-form-field">
                <mat-label>Apellidos</mat-label>
                <input matInput class="form-control" id="last_name" aria-describedby="last_nameHelp" name="last_name" formControlName="last_name">
                <mat-error *ngIf="lastNameRInvalid">
                    Apellidos son requeridos
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="item-form-field">
                <mat-label>Correo</mat-label>
                <input matInput class="form-control" id="emaillogin" aria-describedby="emailHelp" name="email" formControlName="email">
                <mat-error *ngIf="emailRInvalid">
                    Correo es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="item-form-field">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" class="form-control" id="password" name="password" formControlName="password">
                <mat-error *ngIf="passwordRInvalid">
                    Contraseña es requerida
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button *ngIf="!loading">Registrarse</button>
            <mat-spinner *ngIf="loading"></mat-spinner>
            <div class="register" (click)="register()">
                Iniciar sesión
            </div>
        </form>
    </div>
</div>