@import '../../../../../assets/styles/index.scss';
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 12rem;
}

.mat-icon {
    cursor: pointer;
}

.add-btn {
    background-color: $primary;
    color: $font-light;
}

.btn-create {
    width: 100%;
    text-align: right;
}

.data-container {
    width: 100%;
    overflow: auto;
    min-height: 22.5rem;
}